@model Category
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Sigorta Kategori Ekle</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="search">
            </form>
        </div>
        <br />
        <form method="post">
            <input class="form-control" asp-for=CategoryName/>
            <br />
            <button type="submit" class="btn btn-primary">Kategori Ekle</button>
        </form>
    </div>
</div>


